@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
span {
  color: #0178d6;
}

h3 {
  font-size: 40px;
  text-align: center;
  padding: 15px 0 0 0;
  margin: 0 0 20px 0;
}

.wrapper {
  background-color: #1b5683;
}

.container {
  max-width: 1570px;
  margin: 0 auto;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto 5px auto;
  grid-template-rows: repeat(8, auto);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.container > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.container > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.container > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.container > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.container > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.container > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.container > *:nth-child(13) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.container > *:nth-child(14) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.container > *:nth-child(15) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.container > *:nth-child(16) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.container > *:nth-child(17) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.container > *:nth-child(18) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.container > *:nth-child(19) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.container > *:nth-child(20) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.container > *:nth-child(21) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.container > *:nth-child(22) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.container > *:nth-child(23) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

.container > *:nth-child(24) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

.container > *:nth-child(25) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.container > *:nth-child(26) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.container > *:nth-child(27) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.container > *:nth-child(28) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}

.container > *:nth-child(29) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}

.container > *:nth-child(30) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}

.container > *:nth-child(31) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

.container > *:nth-child(32) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

.container > *:nth-child(33) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

.container > *:nth-child(34) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}

.container > *:nth-child(35) {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
}

.container > *:nth-child(36) {
  -ms-grid-row: 11;
  -ms-grid-column: 11;
}

.container > *:nth-child(37) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

.container > *:nth-child(38) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

.container > *:nth-child(39) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

.container > *:nth-child(40) {
  -ms-grid-row: 13;
  -ms-grid-column: 7;
}

.container > *:nth-child(41) {
  -ms-grid-row: 13;
  -ms-grid-column: 9;
}

.container > *:nth-child(42) {
  -ms-grid-row: 13;
  -ms-grid-column: 11;
}

.container > *:nth-child(43) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

.container > *:nth-child(44) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

.container > *:nth-child(45) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

.container > *:nth-child(46) {
  -ms-grid-row: 15;
  -ms-grid-column: 7;
}

.container > *:nth-child(47) {
  -ms-grid-row: 15;
  -ms-grid-column: 9;
}

.container > *:nth-child(48) {
  -ms-grid-row: 15;
  -ms-grid-column: 11;
}

.container > * {
  background-color: #1c2630;
  border-radius: 20px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1/1/2/7;
}
.header__photo img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid #0178d6;
}
.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
}
.header__title-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.header__title-name h1 {
  font-size: 90px;
  text-transform: uppercase;
}
.header__title-name h2 {
  font-size: 40px;
}
.header__title-contacts {
  font-size: 18px;
  text-transform: uppercase;
}
.header__title-contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin: 0 0 20px 0;
}
.header__title-contacts a img {
  height: 36px;
  width: 36px;
}
.header__title-contacts a:visited {
  color: #0178d6;
}
.header__title-contacts a {
  color: #0178d6;
}
.header__title-contacts a:hover {
  color: #1b5683;
  opacity: 0.8;
}

.headear__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.codeExample {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2/1/5/5;
  min-height: 630px;
}
.codeExample code {
  text-align: left;
  line-height: 30px;
  font-size: 15px;
  color: #edf1f3;
}
.codeExample pre {
  max-width: 600px;
  background: #333 none repeat scroll 0 0;
  border: 2px solid #9d9d9d;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: block;
  font-family: Courier New;
  font-size: 150%;
  margin: 10px auto;
  height: 85%;
}

.aboutMe {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 2/5/4/7;
}
.aboutMe p {
  font-size: 20px;
  text-align: justify;
  margin: 15px auto 0px auto;
  padding: 0 30px;
  line-height: 35px;
}

.skills {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 4/5/6/7;
}
.skills__item {
  width: 70px;
  height: 70px;
}
.skills__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  max-width: 400px;
}

.skills__circle-container:first-child {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

.html {
  background: url("../images/html.png");
}

.css {
  background: url("../images/css.png");
}

.git {
  background: url("../images/git.png");
}

.js {
  background: url("../images/js.png");
}

.react {
  background: url("../images/react.png");
}

.figma {
  background: url("../images/figma.png");
}

.education {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5/1/9/3;
}
.education h4 {
  font-size: 20px;
}
.education__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
}
.education__school {
  text-align: center;
}
.education__school img {
  margin: 0 auto 15px auto;
}
.education__university {
  text-align: center;
}
.education__university img {
  margin: 0 auto 15px auto;
}
.education__university h4 {
  margin: 0 0 5px 0;
}
.education__university p {
  font-size: 15px;
  font-style: italic;
}

.courses {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 5/3/8/5;
}
.courses__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.courses__languages {
  border-left: 3px solid #0178d6;
  padding: 0 0 0 10px;
}
.courses__study {
  border-right: 3px solid #0178d6;
  padding: 0 10px 0 0;
}
.courses ul {
  font-size: 20px;
  text-align: center;
}
.courses ul li {
  margin: 0 0 10px 0;
}

.social {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 6/5/8/7;
}
.social__newtworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 0 0 10px 0;
}
.social__newtworks img {
  width: 50px;
  height: 50px;
}
.social__newtworks a:hover {
  opacity: 0.5;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 10px #000;
          box-shadow: 0px 0px 10px 10px #000;
}

.projects {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 8/3/9/7;
}
.projects .projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  padding: 0 0 10px 0;
}
.projects .projects__content > div {
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
  border: 2px solid #0178d6;
  border-radius: 15px;
  overflow: hidden;
  width: 250px;
  height: 170px;
}
.projects .projects__content .projects__content-show {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}
.projects .projects__content a {
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
.projects .projects__content a:hover {
  border-radius: 20px;
  background: #0178d6;
}
.projects .projects__content .projects__content-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #fff;
  -webkit-transform: translate(0px, -90px) rotate(0deg);
          transform: translate(0px, -90px) rotate(0deg);
}
.projects .projects__content_resume:hover .projects__content-show {
  opacity: 1;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
}
.projects .projects__content_portfolio:hover .projects__content-show {
  opacity: 1;
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
}

.footer {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 9/1/10/7;
  text-align: center;
  padding: 10px 0 10px 0;
}
.footer p {
  font-size: 20px;
}

@media (max-width: 900px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .headear__content {
    gap: 5px;
  }

  .header__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__contacts-list p {
    display: none;
  }
}
@media (max-width: 650px) {
  .header__title-name h1 {
    font-size: 65px;
    margin: 0 0 10px 0;
  }
  .header__title-name h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  .headear__content {
    gap: 15px;
  }

  .education__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .education__university img {
    height: 120px;
  }

  .codeExample {
    min-height: 0;
  }
  .codeExample code {
    line-height: 20px;
    font-size: 10px;
  }
  .codeExample pre {
    max-width: 400px;
    margin: 10px auto;
  }

  .skills__item {
    width: 70px;
  }

  .skills__content {
    gap: 10px;
    max-width: 500px;
  }

  .hobbys figure figcaption {
    font-size: 20px;
  }

  .hobbys__content figure img {
    height: 50px;
  }
}
@media (max-width: 430px) {
  .social__newtworks {
    margin: 0 auto;
    max-width: 300px;
  }

  .codeExample code {
    font-size: 7px;
  }
  .codeExample pre {
    max-width: 310px;
    margin: 10px auto;
  }

  .hobbys figure img {
    height: 50px;
  }

  .header__title-name h1 {
    font-size: 45px;
  }
  .header__title-name h2 {
    font-size: 30px;
  }
}